LT($l, $t)
  position absolute
  left $l
  top $t

RT($r, $t)
  position absolute
  right $r
  top $t

LB($l, $b)
  position absolute
  left $l
  bottom $b

RB($r, $b)
  position absolute
  right $r
  bottom $b

bg-image($url)
  background-image url( $url )
  background-repeat no-repeat
  background-size contain

fontStyle($size, $where, $lh)
  font-size $size
  text-align $where
  line-height $lh